
header {
  position: relative;
  height: 110vh;
  min-height: 25rem;
  width: 100%;
  overflow: hidden;
}

  header video {
    position: absolute;
    top: 10%;
    left: 50%;
    min-width: 100%;
    
    width: auto;
    height: 180%;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
  }
  
  header .container {
    position: relative;
    z-index: 2;
  }
  
  header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.6;
    z-index: 1;
  
  
    }
    .textVid{
      font-family: 'Rajdhani', sans-serif;
      font-weight: 600;
      font-size: 65px;
    }
    .textVid2{
      font-family: 'Rajdhani', sans-serif;
      font-weight: 600;
      font-size: 55px;
    }
    @media only screen and (max-width: 700px) {
      .textVid{
        font-size: 40px;

      }
      .textVid2{
        font-size: 35px;

      }
      header{
        height: 70vh;
    
      }
      header video {
       height: 200%;
        
      }
    }

    
  /*
    @media (pointer: coarse) and (hover: none) {
      header {
        background: url('../media/video/promo.mp4') ;
      }
      header video {
        display: none;
      }
    }
    */